tm-doc-grid(no-data-text="No menu items yet..." 
        grid-title="Contract Menu Items" 
        doc-svc="vm.docSvc" 
        list="vm.docSvc.doc.menuItems" 
        create-method="addMenuItem" 
        update-method="updateMenuItem" 
        delete-method="deleteMenuItem"
        add-toggle="vm.sideTab.menuItems"
        fields="{field1: 'field1Value'}")