ninja-grid(no-data-text="No timeline yet..." 
        grid-title="Event Timeline" 
        doc-svc="vm.docSvc" 
        list="vm.docSvc.doc.eventSteps" 
        create-method="addTimeline" 
        update-method="" 
        delete-method="removeTimeline"
        add-toggle="vm.sideTab.timeline"
        fields="{time: {input: 'text', order: 10, width: 15, type: 'time'}," + 
                " duration: {input: 'text', order: 20, width: 15}," +
                " description: {input: 'text', order: 30, width: 60}}")
