
div.itemCardHeader(layout="row")
    div
        h4 {{$ctrl.gridTitle}}
    div(flex)
    div
div(ng-hide="$ctrl.list.length" style="margin: 5px") {{$ctrl.noDataText}}


tm-doc-grid-item(ng-repeat="item in $ctrl.list track by $index" name="{{$index}}"
    item="item" 
    on-delete-item="$ctrl.delete(item)"
    on-update-item="$ctrl.update(item)"
    on-create-item="$ctrl.create(item)"
    on-arrow-key-out="$ctrl.arrowKeyOut(item, keyCode, currentField)"
    on-sort = "$ctrl.sort(startIndex, insertIndex)"
    fields="$ctrl.fields"
    ) 


