
div.itemCardHeader(layout="row")
    div
        h4 {{$ctrl.gridTitle}}
    div(flex)
    div
        h4
            a(href="" ng-click="$ctrl.toggleAdd()")
                span.glyphicon.glyphicon-plus(ng-hide="$ctrl.hideToggle()")
                span.glyphicon.glyphicon-times
            div(class="dropdown" style="float: right;" ng-show="$ctrl.optionsList")
                {{console.log($ctrl.optionsList)}}
                a(href="" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                    span.glyphicon.glyphicon-option-horizontal(style="margin-left: 5px; margin-right: 5px")
                div(class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton")
                    div(ng-repeat="item in $ctrl.optionsList")
                        md-button.md-raised(class="dropdown-item" ng-click="item.func()" style="width:{{item.width}}") {{item.title}} 
                    //- md-button.md-raised(class="dropdown-item" style="clear: right; float: right; width: 200px;") Add Empty
div.gridHeader(ng-show="$ctrl.list.length" layout="row")
    .gridItemHeaderCell(flex="5") &nbsp;
    .gridItemHeaderCell(ng-repeat="(key, val) in $ctrl.fields" flex="{{val.width}}") {{val.header}}
    .gridItemHeaderCell(flex="5") &nbsp;
    //- .btn-round.btn-sm(ng-click="" style="color: white; background-color: #337ab7")
    //-     span.glyphicon.glyphicon-option-horizontal(style="margin-left: -1px; margin-top: 2px")
div(ng-hide="$ctrl.list.length" style="margin: 5px") {{$ctrl.noDataText}}


ninja-grid-item(ng-repeat="item in $ctrl.list track by $index" 
    item-index="{{$index}}"
    item="item" 
    on-delete-item="$ctrl.delete($itemIndex)"
    on-update-item="$ctrl.update(item)"
    on-create-item="$ctrl.create(item)"
    on-arrow-key-out="$ctrl.arrowKeyOut(item, keyCode, currentField)"
    on-sort = "$ctrl.sort(startIndex, insertIndex)"
    fields="$ctrl.fields"
    ) 


