div.itemCard(id="{{$parent.$index}}" style="padding: 3px"  ng-class="{'active-card': item.isEditing}" tm-draggable tm-droppable )
    div.foodViewDiv(ng-hide="$ctrl.item.isEditing"  layout="row")
        div(flex="5" layout="row" layout-align="center center" )
            span.glyphicon.glyphicon-sort
        div.gridItemCell(ng-repeat="(key, val) in $ctrl.fields" 
                flex="val.width"
                ng-focus="$ctrl.editItem($ctrl.item, key)" 
                ng-click="$ctrl.editItem($ctrl.item, key)") {{$ctrl.item[key]}}
        div.gridItemCell(flex="5" layout="column" layout-align="center center")
            a(href= "" ng-click="$ctrl.deleteItem($ctrl.item)"  ng-blur="vm.detailBlur(item, $index, $event)" )
                 span.glyphicon.glyphicon-remove 
    div.foodEditDiv(ng-show="$ctrl.item.isEditing"  layout="row"  )
        div.gridItemEditCell(ng-repeat="(key, val) in $ctrl.fields" flex="val.width" layout="row" )
            input.form-control(ng-model="$ctrl.item[key]" 
                focus="$ctrl.item.clickedField[key]" 
                ng-keydown="$ctrl.arrowKeyOut($ctrl.item, $event, key)" 
                ng-blur="$ctrl.detailBlur($ctrl.item, $event)")
        div(flex="5" layout="column" layout-align="center center")
            a(href= "" ng-click="$ctrl.doneEditing($ctrl.item)" ng-blur="$ctrl.detailBlur($ctrl.item, $event)" )
                span.glyphicon.glyphicon-ok
