
div.itemCardHeader(layout="row")
    div
        h4 {{$ctrl.gridTitle}}
    div(flex)
    div
        h4
            a(href="" ng-click="$ctrl.toggleAdd()")
                span.glyphicon.glyphicon-plus(ng-hide="$ctrl.addToggle")
                span.glyphicon.glyphicon-times

div.gridHeader(ng-show="$ctrl.list.length" layout="row")
    .gridItemHeaderCell(flex="5") &nbsp;
    .gridItemHeaderCell(ng-repeat="(key, val) in $ctrl.fields" flex="{{val.width}}") {{val.header}}
    .gridItemHeaderCell(flex="5") &nbsp;
div(ng-hide="$ctrl.list.length" style="margin: 5px") {{$ctrl.noDataText}}


ninja-grid-item(ng-repeat="item in $ctrl.list track by $index" 
    item-index="{{$index}}"
    item="item" 
    on-delete-item="$ctrl.delete($itemIndex)"
    on-update-item="$ctrl.update(item)"
    on-create-item="$ctrl.create(item)"
    on-arrow-key-out="$ctrl.arrowKeyOut(item, keyCode, currentField)"
    on-sort = "$ctrl.sort(startIndex, insertIndex)"
    fields="$ctrl.fields"
    ) 


