div.itemCard(id="{{$parent.$index}}" style="padding: 3px"  ng-class="{'active-card': item.isEditing}" tm-draggable tm-droppable )
    div.foodViewDiv(ng-hide="$ctrl.item.isEditing"  layout="row")
        div(flex="5" layout="row" layout-align="center center" )
            span.glyphicon.glyphicon-sort
        div.gridItemCell(ng-repeat="(key, val) in $ctrl.fields" 
                flex="{{val.width}}"
                ng-focus="$ctrl.editItem($ctrl.item, key)" 
                ng-click="$ctrl.editItem($ctrl.item, key)") {{$ctrl.formatter($ctrl.item[key], val.type)}}
        div.gridItemCell(flex="5" layout="column" layout-align="center center")
            a(href= "" ng-click="$ctrl.deleteItem()"  ng-blur="vm.detailBlur(item, $index, $event)" )
                 span.glyphicon.glyphicon-remove 
    div.foodEditDiv(ng-show="$ctrl.item.isEditing"  layout="row"  )
        div(flex="5" layout="row" layout-align="center center" )
            span.glyphicon.glyphicon-sort
        div.gridItemEditCell(ng-repeat="(key, val) in $ctrl.fields" flex="{{val.width}}" layout="row" )
            input.form-control(ng-if="val.input==='text'" ng-model="$ctrl.item[key]" type="val.type"
                focus="$ctrl.item.clickedField[key]" 
                ng-keydown="$ctrl.arrowKeyOut($ctrl.item, $event, key)" 
                ng-blur="$ctrl.detailBlur($ctrl.item, $event)")
            textarea.form-control(rows="3" ng-if="val.input==='textarea'" ng-model="$ctrl.item[key]" type="val.type"
                focus="$ctrl.item.clickedField[key]" 
                ng-keydown="$ctrl.arrowKeyOut($ctrl.item, $event, key)" 
                ng-blur="$ctrl.detailBlur($ctrl.item, $event)")
            input.form-control(rows="3" ng-if="val.input==='timefield'" ng-model="$ctrl.item[key]" type="time"
                focus="$ctrl.item.clickedField[key]" 
                ng-keydown="$ctrl.arrowKeyOut($ctrl.item, $event, key)" 
                ng-blur="$ctrl.detailBlur($ctrl.item, $event)")
            // time-field(ng-if="val.input==='timefield'" ng-model="$ctrl.item[key]" field="$ctrl.item[key]" type="val.type")
        div(flex="5" layout="column" layout-align="center center")
            a(href= "" ng-click="$ctrl.doneEditing($ctrl.item)" ng-blur="$ctrl.detailBlur($ctrl.item, $event)" )
                span.glyphicon.glyphicon-ok
