.detailForm(ng-cloak)
    detail-header
    .detailContent(layout="row" flex)
        div.detailLeftPanel(flex layout="column")
            div.detailLeftPanelContainer(layout-fill)
                div.detailTopPanel(layout-padding)
                    include ./tabs/topPanel.jade
                div.detailSection(layout-padding)
                    md-tabs(md-dynamic-height  layout="column" md-selected="vm.tabIndex")
                        md-tab( label="Food & Beverage")
                            // include ./tabs/food.jade
                            tm-doc-grid(no-data-text="No menu items yet..." 
                                grid-title="Contract Menu Items" 
                                doc-svc="vm.docSvc" 
                                list="vm.docSvc.doc.menuItems" 
                                create-method="addMenuItem" 
                                update-method="updateMenuItem" 
                                delete-method="deleteMenuItem"
                                fields="{field1: 'field1Value'}")
                        md-tab(label="Event Timeline")
                            include ./tabs/timeline.jade
                        md-tab(label="Communication")
                            include ./tabs/communication.jade
                div.insideDetailFooter(layout="row" layout-padding layout-align="start start")
                    div hello
        md-sidenav.md-sidenav-right(md-component-id="right" )
            h3 Add Food to Contract
            a(ui-sref="root.menuitems") Add menu item
            lookups(tm-data-source="MenuItem" doc-list="vm.tmContractDocSvc.doc.menuItems" list="root" doc-service-add-method="tmContractDocSvc.addMenuItem")
                div.itemCard(style="border: solid black 1px; background-color: white")
                    a(href="" ng-click="dCtrl.addItem(item)") 
                        span.glyphicon.glyphicon-circle-arrow-left 
                    span &nbsp; {{item.name}}
        //- div.detailRightPanel(flex="20" ng-show="vm.tabIndex === 0" layout-padding)
        //-     md-content(layout-padding style="background: transparent")
        //-         div()
        //-             h3 Add Food to Contract
        //-             a(ui-sref="root.menuitems") Add menu item
        //-             lookups(tm-data-source="MenuItem" doc-list="vm.tmContractDocSvc.doc.menuItems" list="root" doc-service-add-method="tmContractDocSvc.addMenuItem")
        //-                 div.itemCard(style="border: solid black 1px; background-color: white")
        //-                     a(href="" ng-click="dCtrl.addItem(item)") 
        //-                         span.glyphicon.glyphicon-circle-arrow-left 
        //-                     span &nbsp; {{item.name}}
    detail-footer